[submodule "vendor/cobaltdisco/Google-Chinese-Results-Blocklist"]
	path = vendor/cobaltdisco/Google-Chinese-Results-Blocklist
	url = https://github.com/cobaltdisco/Google-Chinese-Results-Blocklist.git
[submodule "vendor/MisakaMikoto-35c5/ublacklist-rules"]
	path = vendor/MisakaMikoto-35c5/ublacklist-rules
	url = https://github.com/MisakaMikoto-35c5/ublacklist-rules.git
[submodule "vendor/liubiantao/uBlacklist-Websites"]
	path = vendor/liubiantao/uBlacklist-Websites
	url = https://github.com/liubiantao/uBlacklist-Websites.git
[submodule "vendor/Aierklk/uBlacklist-blacklist"]
	path = vendor/Aierklk/uBlacklist-blacklist
	url = https://github.com/Aierklk/uBlacklist-blacklist.git
[submodule "vendor/arosh/ublacklist-stackoverflow-translation"]
	path = vendor/arosh/ublacklist-stackoverflow-translation
	url = https://github.com/arosh/ublacklist-stackoverflow-translation.git
[submodule "vendor/arosh/ublacklist-github-translation"]
	path = vendor/arosh/ublacklist-github-translation
	url = https://github.com/arosh/ublacklist-github-translation.git
[submodule "vendor/kecrily/anti-content-farm"]
	path = vendor/kecrily/anti-content-farm
	url = https://github.com/kecrily/anti-content-farm.git
[submodule "vendor/venjek/Google-Blocklist"]
	path = vendor/venjek/Google-Blocklist
	url = https://github.com/venjek/Google-Blocklist.git
[submodule "vendor/entr0pia/No-other-Search-in-Google-Search"]
	path = vendor/entr0pia/No-other-Search-in-Google-Search
	url = https://github.com/entr0pia/No-other-Search-in-Google-Search.git
[submodule "vendor/Paxxs/Google-Blocklist"]
	path = vendor/Paxxs/Google-Blocklist
	url = https://github.com/Paxxs/Google-Blocklist.git
[submodule "vendor/wdmpa/content-farm-list"]
	path = vendor/wdmpa/content-farm-list
	url = https://github.com/wdmpa/content-farm-list.git
